<?xml version="1.0"?>
<!-- Run simulation for solve problem of localization -->
<launch>
  <arg name="wp_global_planner" default="true" doc="[true - wp_global_planner, false - global_planner]"/>
  <arg name="world_name" default="RFMaze.v2.world" />
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="yaw" default="0"/>
  <arg name="gz_gui" default="false"/>
  <arg name="enable_stereo" default="true"/>
  <arg name="map" default="maze2020v1"/>

  <include file="$(find wr8_description)/launch/gazebo.launch">
    <arg name="world_name"    value="$(arg world_name)"/>
    <arg name="x"             value="$(arg x)"/>
    <arg name="y"             value="$(arg y)"/>
    <arg name="yaw"           value="$(arg yaw)"/>
    <arg name="gz_gui"        value="$(arg gz_gui)"/>
    <arg name="enable_stereo" value="$(arg enable_stereo)" />
  </include>

  <include file="$(find wr8_software)/launch/localization.launch">
    <arg name="wp_global_planner" value="$(arg wp_global_planner)" />
    <arg name="map"               value="$(arg map)" />
    <arg name="x"                 value="$(arg x)"/>
    <arg name="y"                 value="$(arg y)"/>
    <arg name="yaw"               value="$(arg yaw)"/>
  </include>

  <include file="$(find wr8_software)/launch/rviz_localization_view.launch"/>

  <group if="$(arg enable_stereo)">
    <include file="$(find wr8_software)/launch/base/stereo_2_laserscan.launch">
      <arg name="stereo_cloud" value="stereo_camera_converted/points2" />
      <arg name="target_frame" value="stereo_camera_optical_frame" />
    </include>
  </group>
</launch>
