<?xml version="1.0"?>
<launch>

  <!-- Can be - gmapping / heactor_mapping -->
  <arg name="mapping_algorithm" default="hector_mapping" />

  <include file="$(find wr8_software)/launch/base/move_base.launch">
    <arg name="base_frame" value="base_footprint" />
    <!-- <arg name="odom_topic" value="ackermann_drive_controller/odom" /> -->
    <arg name="cmd_topic" value="car/cmd_vel" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wr8_software)/rviz/nav.rviz" />

  <include file="$(find wr8_software)/launch/base/$(arg mapping_algorithm).launch">
    <arg name="base_frame" value="base_footprint" />
  </include>

</launch>
