<?xml version="1.0"?>
<!-- Run simulation for solve problem of slam -->
<launch>
  <arg name="base_global_planner" default="wp_global_planner/WPGlobalPlanner" doc="[global_planner/GlobalPlanner, wp_global_planner/WPGlobalPlanner]"/>
  <include file="$(find wr8_description)/launch/gazebo.launch">

  </include>

  <include file="$(find wr8_software)/launch/slam.launch">
    <arg name="mapping_algorithm" value="hector_mapping" />
    <arg name="base_global_planner" value="$(arg base_global_planner)" />
  </include>

  <include file="$(find wr8_software)/launch/rviz_slam_view.launch"/>
</launch>
