<?xml version="1.0"?>
<!-- Run simulation: spawn model, set some settings and run gazebo server with world -->
<launch>
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="initial_pose" default="-x $(arg x) -y $(arg y) -z 0.5 -R 0 -P 0 -Y 1.57" />
  <arg name="world_name" default="RFMaze.v2.world" />
  <arg name="gz_gui" default="false" />
  <arg name="urdf_file" default="$(find wr8_description)/urdf/model.urdf.xacro" />
  <arg name="enable_stereo" default="false" />

  <!-- Set environment variable that contains robot model description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_file)' enable_stereo:=$(arg enable_stereo)" />

  <!-- Spawn robot -->
  <node name="spawn_base_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg initial_pose) -unpause -urdf -param robot_description -model car" />

  <!-- Publish the robot state to tf -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    <remap from="joint_states" to="car/joint_states" />
  </node>

  <env name="GAZEBO_MODEL_PATH" value="$(find wr8_description)/worlds" />

  <!-- Run gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="respawn_gazebo" value="true" />
    <arg name="world_name" value="$(find wr8_description)/worlds/$(arg world_name)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gz_gui)"/>
  </include>

  <!-- Processing of stereo vision -->
  <group if="$(arg enable_stereo)">
	<node ns="stereo_camera" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
    </node>
  </group>


</launch>
