<?xml version="1.0"?>
<!-- Run simulation: spawn model, set some settings and run gazebo server with world -->
<launch>
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="native_odom" default="true" />
  <arg name="initial_pose" default="-x $(arg x) -y $(arg y) -z 0.5 -R 0 -P 0 -Y 1.57" />
  <arg name="world_name" default="RFMaze.v2.world" />
  <arg name="gz_gui" default="false" />
  <arg name="urdf_file" default="$(find wr8_description)/urdf/model.urdf.xacro" />
  
  <!-- Set environment variable that contains robot model description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_file)'" />
  
  <!-- Spawn robot -->
  <node name="spawn_base_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg initial_pose) -unpause -urdf -param robot_description -model my_robot" />

  <!-- Publish the robot state to tf -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <!-- Precise setup for simulator (to be as in real robot) -->
  <rosparam command="load" file="$(find wr8_description)/config/controllers.yaml" />
  <node name="ackermann_controller_spawner" pkg="controller_manager" type="spawner"
    args="ackermann_joint_state_controller
          ackermann_drive_controller"/>
  <param name="ackermann_drive_controller/enable_odom_tf" value="$(arg native_odom)" />
  <remap from="ackermann_drive_controller/cmd_vel" to="robot/cmd_vel" />
  <remap from="ackermann_drive_controller/reset_odom" to="robot/reset_odom" />
  <remap from="ackermann_drive_controller/odom" to="robot/odom" />

  <!-- Run gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <env name="GAZEBO_MODEL_PATH" value="$(find wr8_description)/worlds" />

    <arg name="respawn_gazebo" value="true" />
    <arg name="world_name" value="$(find wr8_description)/worlds/$(arg world_name)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gz_gui)"/>
  </include>
</launch>
