<?xml version="1.0"?>
<launch>

  <include file="$(find wr8_description)/launch/gazebo.launch">
    <!-- <arg name="rviz_gui" value="true" /> -->
    <!-- <arg name="gz_gui" value="true" /> -->
    <!-- <arg name="native_odom" value="true" /> -->
  </include>

	<!-- <include file="$(find wr8_software)/launch/lidar.launch" > -->
	<!-- </include> -->


</launch>