<?xml version="1.0"?>
<!-- Test simulation work without navigation stack -->
<launch>
  <arg name="gz_gui" default="true" />

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="robot/cmd_vel"/>
    <!-- Limit are connected to wr8_software config + real physics -->
    <param name="default_vx_max" value="0.7"/>
    <param name="default_vx_min" value="-0.5"/>
    <param name="default_vw_max" value="0.6"/>
    <param name="default_vw_min" value="-0.6"/>
  </node>

  <include file="$(find wr8_description)/launch/gazebo.launch">
    <arg name="gz_gui" value="$(arg gz_gui)" />
    <arg name="world_name" value="empty_bullet.world" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wr8_description)/rviz/model_view.rviz" />
</launch>

