<?xml version="1.0"?>
<launch>
  <arg name="odom_frame"   default="odom"/>
  <arg name="base_frame"   default="base_footprint"/>
  <arg name="global_frame" default="map"/>
  <arg name="cmd_topic" default="cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="laser_topic" default="scan" />
  <arg name="config_dir" default="config" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find wr8_software)/$(arg config_dir)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find wr8_software)/$(arg config_dir)/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find wr8_software)/$(arg config_dir)/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find wr8_software)/$(arg config_dir)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find wr8_software)/$(arg config_dir)/move_base_params.yaml" command="load" />
    <rosparam file="$(find wr8_software)/$(arg config_dir)/global_planner_params.yaml" command="load" />
    <rosparam file="$(find wr8_software)/$(arg config_dir)/teb_local_planner_params.yaml" command="load" />
    
    <param name="global_costmap/global_frame" value="$(arg global_frame)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame)"/>
    <param name="local_costmap/global_frame" value="$(arg global_frame)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame)"/>
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>

    <remap from="cmd_vel" to="$(arg cmd_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="scan" to="$(arg laser_topic)"/>
  </node>
</launch>
