<?xml version="1.0"?>
<launch>
	<arg name="device" default="/dev/v4l/by-id/usb-KYE_Systems_Corp._USB_Camera_200901010001-video-index0" />
	<!-- <arg name="device" default="/dev/v4l/by-id/usb-046d_0825_CA00E440-video-index0" /> -->
	<arg name="frame_id" default="signs_camera" />
	<arg name="gui" default="false" />

	<node pkg="tf" type="static_transform_publisher" name="base_2_$(arg frame_id)" args="0 0 0 0 0 0 base_link $(arg frame_id) 100" />

	<node name="$(arg frame_id)" pkg="usb_cam" type="usb_cam_node" respawn="true" output="screen" >
		<param name="video_device" value="$(arg device)" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="$(arg frame_id)" />
		<param name="io_method" value="mmap"/>
		<param name="framerate" value="30"/>
	</node>

    <!-- <node pkg="robofest_nuc" type="action_cam_driver.py" name="action_cam_driver" output="screen" respawn="true"> 
    	<remap from="image_raw" to="$(arg frame_id)/image_raw" />
    	<remap from="image_raw/compressed" to="$(arg frame_id)/image_raw/compressed" />
    </node> -->

	<!-- <node ns="$(arg frame_id)" name="$(arg frame_id)" pkg="uvc_camera" type="uvc_camera_node" respawn="true" output="screen" >
		<param name="device" value="$(arg device)" />
		<param name="width" value="640" />
		<param name="height" value="480" />
		<param name="frame_id" value="$(arg frame_id)" />
		<param name="fps" value="30" />
	</node> -->

	<node if="$(arg gui)" name="$(arg frame_id)_image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="$(arg frame_id)/image_raw"/>
		<param name="autosize" value="true" />
		<!-- <param name="image_transport" value="compressed" /> -->
	</node>

</launch>
