<?xml version="1.0"?>
<launch>
    <arg name="pi/2" value="1.5707963267948966" />

	<arg name="video_device" default="/dev/video0" />
	
	<include file="$(find elp_stereo_camera)/launch/camera_driver_elp.launch">
		<arg name="video_device" value="$(arg video_device)" />
		<arg name="camera_info" value="true" />
	</include>

	<node ns="stereo/cameras" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
        <!-- <param name="speckle_range" value="4" /> -->
        <param name="speckle_size" value="250" />
        <param name="min_disparity" value="0" /> 
        <param name="disparity_range" value="64" />
        <param name="stereo_algorithm" value="1" />
	</node>

<!-- 	<node name="disparity_view" pkg="image_view" type="stereo_view" output="screen">
		<remap from="stereo" to="stereo/cameras" />
		<remap from="image" to="image_rect" />
	</node> -->

  <include file="$(find wr8_software)/launch/base/rtabmap.launch">
    <arg name="stereo"                  value="true"/>
    <arg name="rtabmapviz"              value="false" /> 
    <arg name="rviz"                    value="false" />
    <arg name="localization"            value="false"/>
    <arg name="gui_cfg"                 value="$(find rtabmap_ros)/launch/config/rgbd_gui.ini" />
    <arg name="rviz_cfg"                value="$(find rtabmap_ros)/launch/config/rgbd.rviz" />
  
    <arg name="frame_id"                value="base_link"/>
    <arg name="namespace"               value="rtabmap"/>
    <arg name="database_path"           value="~/.ros/rtabmap.db"/>
    <arg name="wait_for_transform"      value="0.2"/>
    <arg name="rtabmap_args"            value="-d"/>  
    <arg name="launch_prefix"           value=""/>          
    <arg name="approx_sync"             value="false"/>

    <arg name="stereo_namespace"        value="/stereo/cameras"/>
    <arg name="left_image_topic"        value="/stereo/cameras/left/image_rect_color" />
    <arg name="right_image_topic"       value="/stereo/cameras/right/image_rect_color" />
    <arg name="left_camera_info_topic"  value="/stereo/cameras/left/camera_info" />
    <arg name="right_camera_info_topic" value="/stereo/cameras/right/camera_info" />
  
    <arg name="compressed"              value="false"/>                                                                                
   
    <arg name="subscribe_scan"          value="false"/>
    <arg name="scan_topic"              value="/scan"/>
  
    <arg name="subscribe_scan_cloud"    value="false"/>
    <arg name="scan_cloud_topic"        value="/scan_cloud"/>
   
    <arg name="visual_odometry"         value="true"/>          
    <arg name="odom_topic"              value="/odom"/>       
    <arg name="odom_frame_id"           value=""/>   
    <arg name="odom_args"               value="-d"/>
  </include>

</launch>