<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find wr8_software)/launch/real_robot_start.launch" >
        <arg name="uc" value="true"/>
        <arg name="lidar" value="false"/>

    </include>

    <include file="$(find wr8_bringup)/launch/start_rs_camera.launch"/>
    <node pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen"/>




</launch>
