<?xml version="1.0"?>
<launch>
   
    <arg name="lidar" default="true" />
    <arg name="camera_s" default="true" />
    <arg name="camera_r" default="true" />
    <arg name="uc" default="true" />
    <arg name="solver" default="true" />
    <arg name="gui_server" default="true" />
    <arg name="bag" default="true" />

    <include if="$(arg uc)" file="$(find wr8_software)/launch/base/serial_uc_link.launch">
        <arg name="device" value="/dev/serial/by-id/usb-STMicroelectronics_ChibiOS_RT_Virtual_COM_Port_400-if00" />
    </include>

    <include if="$(arg lidar)" file="$(find wr8_software)/launch/base/lidar.launch">
        <!-- All defaults -->
    </include>

    <node if="$(arg solver)" pkg="wr8_software" type="main_solver.py" name="main_solver" output="screen" respawn="false">
        <remap from="nn_input" to="signs_camera/image_raw" />

        <param name="rec_weights_path" value="$(find wr8_ai)/best/TSR/weight"/>  
        <param name="rec_config_path" value="$(find wr8_ai)/best/TSR/config"/>  
        <param name="det_graph_path" value="$(find wr8_ai)/best/TSD/graph"/>  
        <param name="det_config_path" value="$(find wr8_ai)/best/TSD/config"/>  
    </node>

    <include if="$(arg camera_s)" file="$(find wr8_software)/launch/base/signs_camera.launch">
        <arg name="device" value="/dev/v4l/by-id/usb-HD_USB_Camera_HD_USB_Camera_SN0001-video-index0" />
        <arg name="frame_id" value="signs_camera" />
    </include>

    <include if="$(arg camera_r)" file="$(find wr8_software)/launch/base/road_camera.launch">
        <arg name="device" value="/dev/v4l/by-id/usb-046d_0825_CA00E440-video-index0" />
        <arg name="frame_id" value="road_camera" />
    </include>

    <include if="$(arg gui_server)" file="$(find wr8_gui_server)/launch/gui_server.launch">
    </include>

    <node pkg="rosbag" type="record" name="rosbag_record" args="-o $(env HOME)/bags/main /tf /robot/cmd_vel /robot/odom_pose /robot/state /scan /diagnostics /rosout"/>   
</launch>
