<?xml version="1.0"?>
<launch>
   
    <arg name="lidar" default="false" />
    <arg name="camera_s" default="false" />
    <arg name="camera_r" default="false" />
    <arg name="uc" default="false" />
    <arg name="solver" default="false" />
    <arg name="gui_server" default="false" />
    <arg name="bag_record" default="false" />

    <include if="$(arg uc)" file="$(find wr8_software)/launch/base/serial_uc_link.launch">
        <!-- All defaults -->
    </include>

    <include if="$(arg lidar)" file="$(find wr8_software)/launch/base/lidar.launch">
        <!-- All defaults -->
    </include>

    <node if="$(arg solver)" pkg="wr8_software" type="main_solver.py" name="main_solver" output="screen" respawn="false">
    </node>

    <include if="$(arg camera_s)" file="$(find wr8_ai)/launch/start_detection_node.launch">
        <!-- All defaults -->
    </include>

    <include if="$(arg camera_s)" file="$(find wr8_software)/launch/base/signs_camera.launch">
        <arg name="device" value="/dev/v4l/by-id/usb-HD_USB_Camera_HD_USB_Camera_SN0001-video-index0" />
        <arg name="frame_id" value="signs_camera" />
    </include>
    
    <include if="$(arg camera_r)" file="$(find wr8_ai)/launch/start_line_node.launch">
        <!-- All defaults -->
    </include>

    <include if="$(arg camera_r)" file="$(find wr8_software)/launch/base/road_camera.launch">
        <arg name="device" value="/dev/v4l/by-id/usb-046d_0825_CA00E440-video-index0" />
        <arg name="frame_id" value="road_camera" />
    </include>

    <include if="$(arg gui_server)" file="$(find wr8_gui_server)/launch/gui_server.launch">
    </include>

    <node if="$(arg bag_record)" pkg="rosbag" type="record" name="rosbag_record" args="-o $(env HOME)/bags/main /signs_camera/image_raw/compressed /road_camera/image_raw/compressed /tf /robot/cmd_vel /robot/odom_pose /robot/state /scan /diagnostics /rosout"/>   
</launch>
