<?xml version="1.0"?>
<launch>
	<node name="road_image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="road_camera/image_raw"/>
		<param name="autosize" value="true" />
		<param name="image_transport" value="compressed" />
	</node>

	<node name="signs_image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="signs_camera/image_raw"/>
		<param name="autosize" value="true" />
		<param name="image_transport" value="compressed" />
	</node>
 </launch>
 