<?xml version="1.0"?>
<launch>
	<arg name="video_device" default="/dev/elp_stereo" />
	
	<include file="$(find elp_stereo_camera)/launch/camera_driver_elp.launch">
		<arg name="video_device" value="$(arg video_device)" />
        <arg name="calib_data_path" value="$(find wr8_software)/calib/elp_stereo" />
		<arg name="camera_info" value="true" />

		<arg name="filter_type" value="gauss" />
		<arg name="filter_kernel" value="7" />

	</include>

    <include file="$(find wr8_software)/launch/base/rtabmap.launch">
        <arg name="stereo" value="true" />
        <arg name="frame_id" value="base_link" />
        <arg name="args" value="-d" />
        <arg name="odom_args" value="-d" />
    </include>

</launch>
