<?xml version="1.0"?>
<launch>

  <include file="$(find wr8_description)/launch/gazebo.launch">
    <!-- <arg name="rviz_gui" value="true" /> -->
    <!-- <arg name="gz_gui" value="true" /> -->
    <arg name="native_odom" value="true" />
  </include>

  <include file="$(find wr8_navigation)/launch/gmapping.launch">
    <arg name="base_frame" value="base_footprint" />
    <arg name="scan_topic" value="scan" />
  </include>

  <include file="$(find wr8_navigation)/launch/move_base.launch">
    <arg name="base_frame" value="base_footprint" />
    <arg name="odom_topic" value="ackermann_drive_controller/odom" />
    <arg name="cmd_topic" value="ackermann_drive_controller/cmd_vel" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wr8_navigation)/rviz/nav.rviz" />
</launch>
