<?xml version="1.0"?>
<launch>

  <!-- <include file="$(find wr8_software)/launch/base/laser_scan_matcher.launch" > -->
    <!-- <arg name="base_frame" value="base_link" /> -->
    <!-- <arg name="odom_topic" value="robot/odom" /> -->
  <!-- </include> -->

  <!-- <node name="reset_odom" pkg="wr8_software" type="reset_odometry.py"> -->
  <!-- </node> -->

  <!-- Can be - gmapping / heactor_mapping -->
  <arg name="mapping_algorithm" default="hector_mapping" />

  <include file="$(find wr8_software)/launch/base/move_base.launch">
    <arg name="base_frame" value="base_link" />
    <arg name="odom_topic" value="robot/odom" />
    <arg name="cmd_topic" value="robot/cmd_vel" />
  </include>

  <include file="$(find wr8_software)/launch/base/$(arg mapping_algorithm).launch">
    <arg name="base_frame" value="base_link" />
  </include>

</launch>
