<?xml version="1.0"?>
<launch>

  <include file="$(find wr8_software)/launch/base/move_base.launch">
    <arg name="base_frame" value="base_link" />
    <arg name="odom_topic" value="robot/odom" />
    <arg name="cmd_topic" value="robot/cmd_vel" />
    <arg name="config_dir" value="stereo_config" />
  </include>

  <include file="$(find wr8_software)/launch/base/slime.launch">
    <arg name="global_frame" value="map" />
    <arg name="track_frame" value="base_link"/>
    <arg name="update_rate" value="10" />
    <arg name="publish_rate" value="6.0" />
  </include>

  <include file="$(find wr8_software)/launch/base/stereo_rtabmap.launch">

  </include>

  <remap from="/rtabmap/grid_map" to="/map" />

</launch>
