<?xml version="1.0"?>
<launch>
	<include file="$(find wr8_software)/launch/lidar.launch" >

	</include>
 	<node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
 		<param name="fixed_frame" value="odom" />
    	<param name="max_iterations" value="10" />
  	</node>

</launch>