<?xml version="1.0"?>
<launch>

  <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen">
  
    <!-- Camera topic to subscribe to -->
    <param name="cam_topic" value="usb_cam/image_mono" type="str" />
    
    <!-- Camera calibration file -->
    <rosparam file="$(find wr8_software)/param/my_cam.yaml" />
    
    <!-- Default parameter settings: choose between vo_fast and vo_accurate -->
    <rosparam file="$(find wr8_software)/param/vo_fast.yaml" />

  </node>

  <node pkg="rqt_svo" type="rqt_svo" name="rqt_svo" clear_params="true" output="screen" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wr8_software)/rviz/mono_slam.rviz" />

  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="svo/image"/>
    <param name="autosize" value="true" />
  </node>

</launch>